.features {
  background: $lightGrayishBlue;

  .info {
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    p {
      color: $grayishBlue;
      margin-bottom: 4rem;
    }
  }

  &__list {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    align-items: baseline;
    gap: 30px;

    &__item {
      > h3 {
        margin: 30px 0;
      }
      > p {
        color: $grayishBlue;
      }
    }

    @include tablet() {
      grid-template: 1fr 1fr / 1fr 1fr;
    }

    @include mobile() {
      grid-template: repeat(4, 1fr) / auto;
      text-align: center;
    }
  }
}
